@import '../../styles/constants.less';

.event-panel {
  max-width: 700px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (max-width: @map-breakpoint) {
    .event-panel {
        display: inline-block;
        width: 90%;
        .event-loc {
          margin-left: 5px;
        }
    }
}